body {
	font-family: Helvetica, Arial, sans-serif;
	/*background-image: url(../images/FreeGreatPicture.com-20247-candy-painted-background.jpg);*/
	background-image: url(../images/IMG_0834.JPG);
    background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}
 .header {
    height: 100px;
    background: #CCD1C5;
    border: 1px solid #CCC;
    box-shadow: 2px 0 5px 5px white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
 }
 .aboutme {
 	background: rgba(255,255,255,0.8);
 	width: 100%;
 	margin: 0 auto;
 	border-radius: 10px;
 	padding: 40px;
    box-shadow: 2px 0 5px 5px white;
    margin-top: 80px;
    margin-bottom: 200px;
 }
 .language {
    background: rgba(255,255,255,0.8);
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 2px 0 5px 5px white;
    margin-bottom: 200px;
 }
 .project {
    background: rgba(255,255,255,0.8);
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 2px 0 5px 5px white;
    margin-bottom: 200px;
 }
 table {
   width: 90%;
   height: 90%;  
 }
 .shot {
    width: 395px;
    height: 395px;
    float: left;
    margin-left: 0px;
    border-radius: 5px;
    border: 5px solid black;
 }
 
 #footer {
    background: #CCD1C5;
    width: 107%;
    position: relative;
    margin-left: 0px;
    right: 0px;
    height: 130px;
    padding-top: 20px;
    margin-bottom: 0px;
 }
#div {
   background-color: #C2E693;
   /*width: 100%;*/
   margin-top: 0;

}
h1 {
    text-shadow: 2px 2px #B5B5B0;
    color: #F4F5EB;
    font-size: 40px;
    position: relative;
    font-family: 'Changa One', cursive;
}
#baloons {
    width: 105%;
    height: 1000px;
}
h2 {
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	margin-top: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}
h3{
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}
h3.first {
    font-size: 24px;
}
/*This resizes and centres the image */
.div {
    background-color: #C2E693;
    width: 100%;
    margin-top: 80px;
}
.text {
    width: 700px;
    margin: 0 auto;
}
.list {
   text-align: center;
}
.facebook {
    width: 60px;
    height: 60px;
    float: left;
    position: center; 
    margin-left: 43%; 
}
.twitter {
    width: 60px;
    height: 60px;
    float: left;
    position: center;  
}
.linkedin {
    width: 60px;
    height: 60px;
    float: left;
    position: center;  
}
.face {
     width: 100px;
     float: left;
     margin-top: 5px;
     margin-left: 10px;
     margin-right: 10px;
     border-radius: 5px;
     border: 3px solid white;
    }
    ul,
    ol{
    	list-style-type: none;
    	padding-left: 0px;
    }
    a{
    	color: rgb(240,50,20);
    	text-decoration: none;
    	font-weight: bold;
    }
    a:hover,
    a:focus {
    	text-decoration: underline;
    	color: rgb(255,120,80);
    }
    ol li{
        text-transform: uppercase;
    }


